* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.horizontal {
  display: flex;
  flex-direction: row;
}
#signin {
  padding-top: 10%;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #639dcc;
}
.signin_signup {
  cursor: pointer;
}
.signinup {
  width: 100%;
}
#signin img {
  width: 40%;
  height: auto;
  padding: 30px;
}
#emailpass {
  width: 25%;
  background-color: white;
}
#header {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #639dcc;
}
#logo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
#logoContainer {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  width: 55%;
}
#menuContainer {
  justify-content: space-between;
}
#menu {
  list-style-type: none;
  color: #ffffff;
}
.modal {
  border-radius: 25px;
  top: 25%;
  right: 25%;
  position: fixed;
  width: 60%;
  height: 50%;
  background-color: #87bc88;
  overflow: scroll;
}
.sceneCards {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.saveIcon {
  text-align: center;
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.saveIcon img {
  margin: 2%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.modal form {
  position: fixed;
  bottom: 25%;
}
.selected {
  background-color: #5e807f;
  border-style: groove;
}
.iconList {
  list-style-type: none;
}
.iconList li {
  padding: 1%;
  width: 5%;
  height: auto;
}
.icon {
  margin: 2%;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
#drawer {
  z-index: 0;
}
#sidebar {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
#outlined-basic {
  margin: 1%;
}
#bottomBar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
#sceneManager {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  overflow: scroll;
  background: #639dcc;
}
.objectIcon {
  padding: 0;
  margin: 0;
  text-align: center;
  border-style: solid;
  border-radius: 25px;
}
.objectIcon img {
  margin-bottom: 0;
}
.objectIcon p {
  margin-top: 0;
  color: white;
}
#SMLabel {
  overflow: hidden;
  display: block;
  border-radius: 25px 25px 1px 1px;
  width: 10%;
  height: 10%;
  margin: 0;
  padding-left: 1%;
  background-color: #639dcc;
}
