* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #a1e5ab;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.horizontal {
  display: flex;
  flex-direction: row;
}

#header {
  z-index: 1;
  width: 100%;
  background-color: #5e807f;
}
#menu {
  list-style-type: none;
}
.iconList {
  list-style-type: none;
}
.icon {
  width: 2%;
}
#drawer {
  z-index: 0;
}
#sidebar {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
#outlined-basic {
  margin: 1%;
}
#bottomBar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
#sceneManager {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  overflow: scroll;
  background: gray;
}
.objectIcon {
  text-align: center;
  border-style: solid;
  border-radius: 25px;
}
.objectIcon img {
  margin-bottom: 0;
}
.objectIcon p {
  margin-top: 0;
  color: white;
}
