* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.horizontal {
  display: flex;
  flex-direction: row;
}
#signin {
  padding-top: 10%;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #639dcc;
}
.signin_signup {
  cursor: pointer;
}
.signinup {
  width: 100%;
}
#signin img {
  width: 40%;
  height: auto;
  padding: 30px;
}
#emailpass {
  width: 25%;
  background-color: white;
}
#header {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #639dcc;
}
#logo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
#logoContainer {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  width: 55%;
}
#menuContainer {
  justify-content: space-between;
}
#menu {
  list-style-type: none;
  color: #ffffff;
}
.button {
  color: blue;
}
.modal {
  box-shadow: 10px 8px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 60%;
  height: 60%;
  background-color: white;
  overflow-y: scroll;
}
#about {
  background-color: #639dcc;
  text-align: center;
  color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vw;
  padding-top: 2vw;
}
#kyle {
  width: 10vw;
}
#contactIcons {
  justify-content: space-evenly;
}
#contactIcons a img {
  width: 6vw;
}
.modal img {
  display: block;
  width: 30vh;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}
.bug {
  margin: 10%;
}
.loading {
  top: 50%;
  left: 50%;
  transform: translate(-25%, -25%);
  position: fixed;
  width: 60%;
  height: 60%;
}
.error {
  color: red;
}
.openSaveInput {
  position: sticky;
  bottom: 0;
  background-color: #639dcc;
  padding: 1em;
  width: 100%;
}
.sceneCards {
  width: 100%;
  height: 100%;
  padding: 4%;
  /* margin-bottom: 5%; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  justify-items: stretch;
  column-gap: 1em;
  row-gap: 3em;
}
.saveIcon {
  text-align: center;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}
.saveIcon img {
  border: 1px solid;
  margin: 10px;
  box-shadow: 7px 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selectedSave {
  background-color: #639dcc;
}
.iconList {
  list-style-type: none;
}
.iconList li {
  padding: 1%;
  width: 5%;
  height: auto;
}
.icon {
  margin: 2%;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
#drawer {
  z-index: 0;
}
#sidebar {
  padding-top: 11vh;
  padding-bottom: 10vh;
}
#outlined-basic {
  margin: 1%;
}
#bottomBar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
#sceneManager {
  overflow: scroll;
  max-height: 15vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  background: #639dcc;
}
.objectIcon {
  padding: 0;
  margin: 0;
  text-align: center;
  border-style: solid;
  border-radius: 25px;
}
.objectIcon img {
  margin-bottom: 0;
}
.objectIcon p {
  margin-top: 0;
  color: white;
}
#SMLabel {
  overflow: hidden;
  display: block;
  border-radius: 25px 25px 1px 1px;
  width: 10%;
  height: 10%;
  margin: 0;
  padding-left: 1%;
  background-color: #639dcc;
}
